.tela-de-busca {
  position: relative;
  width: 1370px;
  height: 1547px;
  background-color: #ffffff;
}

.tela-de-busca .parte-de-cima {
  flex-direction: column;
  height: 188px;
  top: 0;
  background-color: #b5de2e;
  display: flex;
  width: 1370px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
}

.tela-de-busca .div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tela-de-busca .frame-logo {
  display: flex;
  width: 104.71px;
  height: 104px;
  align-items: center;
  gap: 10px;
  padding: 0px 32px;
  position: relative;
  background-color: #fff300;
}

.tela-de-busca .LOGO-a-ESTUDANTE {
  position: relative;
  width: 36px;
  height: 104px;
  object-fit: cover;
}

.tela-de-busca .barra-de-pesquisa {
  display: flex;
  width: 695.3px;
  height: 48px;
  align-items: center;
  padding: 6px 8px 8px;
  position: relative;
  background-color: #ffffff;
  border-radius: 7px;
  border: 1px solid;
  border-color: #7b961f;
}

.tela-de-busca .texto {
  position: relative;
  width: 528px;
  height: 30px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.tela-de-busca .lupa {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 6px;
  left: 652px;
}

.tela-de-busca .conta {
  display: flex;
  width: 172.72px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.tela-de-busca .vector {
  position: relative;
  width: 60px;
  height: 60px;
}

.tela-de-busca .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #7b961f;
}

.tela-de-busca .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.tela-de-busca .group {
  position: absolute;
  width: 580px;
  height: 29px;
  top: 219px;
  left: 65px;
}

.tela-de-busca .busca-por {
  position: absolute;
  width: 145px;
  height: 29px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.tela-de-busca .text-wrapper-2 {
  position: absolute;
  width: 413px;
  height: 29px;
  top: 0;
  left: 163px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.tela-de-busca .group-2 {
  position: absolute;
  width: 1272px;
  height: 1113px;
  top: 279px;
  left: 63px;
}

.tela-de-busca .group-3 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 0;
  left: 0;
}

.tela-de-busca .overlap-group {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-9.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .text-wrapper-3 {
  position: absolute;
  top: 240px;
  left: 21px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.tela-de-busca .text-wrapper-4 {
  position: absolute;
  width: 155px;
  top: 292px;
  left: 33px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.tela-de-busca .group-4 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 0;
  left: 260px;
}

.tela-de-busca .overlap {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-5 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 0;
  left: 520px;
}

.tela-de-busca .div-wrapper {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-7.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-6 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 0;
  left: 780px;
}

.tela-de-busca .overlap-2 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-15.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-7 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 0;
  left: 1040px;
}

.tela-de-busca .overlap-3 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-5.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-8 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 399px;
  left: 2px;
}

.tela-de-busca .overlap-4 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-9 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 798px;
  left: 14px;
}

.tela-de-busca .overlap-5 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-10.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-10 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 399px;
  left: 260px;
}

.tela-de-busca .overlap-6 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-11 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 798px;
  left: 272px;
}

.tela-de-busca .overlap-7 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-6.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-12 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 399px;
  left: 520px;
}

.tela-de-busca .overlap-8 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-12.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-13 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 798px;
  left: 532px;
}

.tela-de-busca .overlap-9 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-14 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 399px;
  left: 781px;
}

.tela-de-busca .overlap-10 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-15 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 798px;
  left: 793px;
}

.tela-de-busca .overlap-11 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-14.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-16 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 399px;
  left: 1040px;
}

.tela-de-busca .overlap-12 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-13.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .group-17 {
  position: absolute;
  width: 224px;
  height: 315px;
  top: 798px;
  left: 1052px;
}

.tela-de-busca .overlap-13 {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 0;
  left: 0;
  background-image: url(./img/image-11.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tela-de-busca .parte-de-baixo {
  flex-wrap: wrap;
  align-content: space-between;
  height: 122px;
  padding: 20px;
  top: 1423px;
  background-color: #d9d9d9;
  display: flex;
  width: 1370px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
}

.tela-de-busca .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 35px;
  white-space: nowrap;
}

.tela-de-busca .metodos-de-pagamento {
  position: relative;
  flex: 0 0 auto;
}
