* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.display-de-item {
  position: relative;
}

.item-coisas {
  display: flex;
  width: 100%;
  align-items: top;
  justify-content: space-evenly;
  padding: 5%;
  height: fit-content;
}

.conjunto-imagens {
  display: flex;
  align-items: flex-start;
}

.imagem-produto {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.produto-detalhes {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  justify-content: space-evenly;
}

.item-inicio {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 3%;
  width: 100%;
}

.nome-prod,
.valor-prod {
  font-family: "Inter-Regular", Helvetica;
  color: #000000;
}

.nome-prod {
  font-size: 1.5rem;
}
.valor-prod {
  font-size: 3rem;
  font-weight: 700;
}

.linha {
  width: 100%;
  border: 0.1em solid rgb(61, 61, 61);
  border-radius: 10em;
}

.quant-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
  width: 40%;
  height: 100%;
  background-color: #7cd996;
}

.quantidade-item {
  font-family: "Inter-Regular", Helvetica;
  color: #000000;
  font-size: xx-large;
}

.botao-adicionar-carrinho {
  height: 100%;
  padding: 1%;
  background-color: #102694;
  color: #ffffff;
  border-radius: 0.3em;
}

.conjunto-informacoes-produto {
  width: 100%;
}

.informacoes-prod {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 600;
  color: #000000;
}

.fundo {
  width: 100%;
}

.rectangle {
  position: relative;
  width: fit-content;
  padding: 1%;
  left: 2vw;
  background-color: #d9d9d9;
  border-radius: 1em 1em 0 0;
}

.linha2 {
  width: 100%;
  object-fit: cover;
  border: 0.1em solid #d9d9d9;
}

.desc-prod {
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  color: #000000;
  font-size: large;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 70%;
  left: 2vw;
  word-wrap: break-word;
  white-space: normal;
}
