* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Logo */

.frame-logo {
  display: flex;
  width: 22vw;
  height: 15vh;
  align-items: center;
  padding: 0 3%;
  position: relative;
  background-color: none;
  gap: 1%;
}

.LOGO-A-ESTUDANTE {
  position: relative;
  width: 6vw;
  height: 16vh;
  object-fit: cover;
}

/* Nome do estabelecimento */

@font-face {
  font-family: cooperBlack;
  src: url("../fonts/cooper-black-bt.ttf") format("truetype");
}

@font-face {
  font-family: sequelSans;
  src: url("../fonts/sequel-sans-black-disp.ttf") format("truetype");
}

.nome-estabelecimento {
  display: flex;
  flex-direction: column;
  align-items: left;
  letter-spacing: 0;
  position: relative;
  background-color: none;
}

.nome-estabelecimento .nome-principal {
  font-family: "cooperBlack", Helvetica;
  font-size: 1.5rem;
  width: 12vw;
  font-weight: 500;
  color: #ff2323;
}

.nome-estabelecimento .subtitulo {
  font-family: "sequelSans", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  color: #0000ff;
}

/* conteudo */

.tela-de-compra {
  position: relative;
  min-height: 80vh;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.tabela-produtos {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5%;
  gap: 1%;
}

.tabela-texto,
.produto-nome,
.produto-preco {
  position: relative;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  white-space: nowrap;
  line-height: 24px;
  font-size: 24px;
  letter-spacing: 0;
  color: #000000;
}

.produto-nome {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 600;
  font-size: 1rem;
  white-space: normal;
}

.tabela-texto {
  font-size: 50px;
  line-height: 50px;
}

.produto-preco {
  color: #272626;
}

.produto-texto {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 600;
  font-size: 1.4em;
  color: #000000;
}

/* Tabela */

thead {
  background-color: none;
}

tbody {
  background-color: #de4e3e;
  border-spacing: 10vh;
  border: none;
}

tfoot {
  text-align: center;
  background-color: none;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 10vh;
}

table {
  border-collapse: collapse;
  border: none;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 95%;
}

th,
td {
  border: transparent;
  padding: 1px 10px;
}

td {
  text-align: center;
}

tbody tr {
  border-bottom: 2px solid #000000;
}

tbody tr:last-child {
  border-bottom: none;
}
th {
  text-align: center;
}

.image {
  position: relative;
  width: 10vw;
  object-fit: cover;
}

.conjunto-quantidade {
  display: inline-flex;
  align-items: center;
  gap: 17px;
  position: relative;
}

.botao-hidden {
  border: none;
  cursor: pointer;
  background: none;
}

.icone {
  position: relative;
  width: 2em;
  height: 2em;
  object-fit: cover;
}

.icone_maior {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.quantidade-itens {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.conjunto-botoes {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1vh;
  bottom: 0;
}

.botao-continuar-compra {
  position: relative;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  white-space: nowrap;
  line-height: 24px;
  font-size: 24px;
  letter-spacing: 0;
  color: #de4e3e;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
}

.botao-finalizar-compra {
  position: relative;
  padding: 2% 6%;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  background-color: #102694;
  color: #ffffff;
}

.tabela-preco {
  position: relative;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5%;
  gap: 1%;
}

.preco-formato {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  padding: 5% 0;
}

.conjunto-conjunto-preco {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 0 5%;
}

.conjunto-preco {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vh;
  padding: 0 -1%;
}

.preco-linha {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #b5b5b5;
}

.preco-texto {
  position: relative;

  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.preco-valor {
  position: relative;

  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 36px;
}
