* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.pagina-inicial {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #df0707;
}

.pagina-inicial .propraganda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: aqua;
  width: 100%;
  height: 100%;
}
.pagina-inicial .ima-propaganda {
  position: relative;
  width: 80%;

  padding: 1% 0 1% 0;
}
.pagina-inicial .pontos {
  position: relative;
  width: 60px;
  height: 60px;
}

.pagina-inicial .ponto {
  left: 0;
  background-color: #a3a3a3;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  border-radius: 1000px;
}

.pagina-inicial .ponto-2 {
  left: 24px;
  background-color: #000000;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  border-radius: 1000px;
}

.pagina-inicial .ponto-3 {
  left: 48px;
  background-color: #a3a3a3;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  border-radius: 1000px;
}

.pagina-inicial .proposta {
  background-color: forestgreen;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
}

.pagina-inicial .proposta-conjunto {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: relative;
  align-self: stretch;
}

.pagina-inicial .img-proposta {
  width: 40%;
  height: auto;
  object-fit: contain;
}

.pagina-inicial .proposta-texto {
  width: 55%;
  height: auto;
  padding: 2% 0 0 0;
}

.pagina-inicial .proposta-titulo {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.pagina-inicial .proposta-descricao {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 15px;
}

.pagina-inicial .promocoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #b3b3b3;
}

.pagina-inicial .promocoes-titulo {
  position: relative;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.pagina-inicial .conjunto-produtos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
  position: relative;
  flex: 0 0 auto;
  margin-left: -6px;
  margin-right: -6px;
}

.pagina-inicial .produto {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: relative;
  align-self: stretch;
}

.pagina-inicial .promo-img-produto {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.pagina-inicial .prod-desc {
  position: relative;
  width: auto;
  height: auto;

  background-size: cover;
  background-position: 50% 50%;
}

.pagina-inicial .valor-produto,
.pagina-inicial .nome-produto {
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.pagina-inicial .valor-produto {
  font-size: 36px;
  line-height: 36px;
}

.pagina-inicial .nome-produto {
  font-size: 20px;
  line-height: 20px;
}
