<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/styleguide.css" />
    <!-- Estilo do guia de estilo -->
    <link rel="stylesheet" href="../static/css/adm.css" />
    <!-- Estilo principal da aplicação -->
    <title>Office Shop</title>
    <!-- Título da página -->
  </head>
  <body>
    <div class="desktop">
      <div class="overlap" style="filter: blur(5px)">
        <!-- Barra lateral -->
        <div class="overlap-group">
          <div class="rectangle">
            <!-- Botões da barra lateral -->
            <button id="homeBtn" class="iconSize buttonBox">
              <img
                class="logo"
              />
            </button>
            <a id="homeBtn" class="iconSize buttonBox" href="/">
              <img src="../static/images/redirecionarTelaPrincipal.svg" />
            </a>
            <button id="printerBtn" class="iconSize buttonBox">
              <img src="../static/images/eos-icons--content-new.svg" />
            </button>
            <button id="sendBtn" class="iconSize buttonBox">
              <img src="../static/images/eos-icons--content-new.svg" />
            </button>
            <button id="zapBtn" class="iconSize buttonBox">
              <img src="../static/images/eos-icons--content-new.svg" />
            </button>
          </div>
          <img class="logo" src="../static/images/Logo.png" />
        </div>
        <!-- Fim Barra lateral -->

        <!-- Nome da Corporação -->
        <p>
          <span class="text-wrapper">A Estudante<br /></span>
          <span class="span">Office shop</span>
        </p>
        <!-- Fim Nome da Corporação -->

        <!-- Ícones para Adicionar e Filtrar -->
        <button id="addRowBtn" class="addRow buttonBox">
          <img src="../static/images/adicionar.svg" />
        </button>
        <button id="filterBtn" class="filter buttonBox">
          <img
            src="../static/images/filtrar.svg"
          />
        </button>

        <!-- Input para Filtro -->
        <div
          class="floating-box"
          id="floatingBox"
          style="display: none; position: fixed; top: 20px; right: 20px"
        >
          <select class="dropdown">
            <option value="option1">Nome</option>
            <!-- Opção para filtrar por nome -->
            <option value="option2">Descrição</option>
            <!-- Opção para filtrar por descrição -->
            <option value="option3">Preço</option>
            <!-- Opção para filtrar por quantidade -->
            <option value="option4">QTD</option>
            <!-- Opção para filtrar por quantidade -->
          </select>
          <input
            id="inputFilter"
            type="text"
            class="input-box"
            placeholder="Type something..."
          />
          <button id="acceptBtn" class="buttonBox">Done</button>
          <!-- Botão para aceitar o filtro -->
        </div>

        <!-- Definição de linha na tabela -->
        <div id="tableContainer">
          {% for produto in produtos %}
          <div class="tableRow">
            <form class="updateForm" data-id="{{ produto.id_produtos }}">
              <input
                class="divWrapper defaultBox"
                style="width: 4%"
                name="imagem_produtos"
                value="{{ produto.imagem_produtos }}"
                placeholder="Imagem"
              />
              <input
                class="divWrapper defaultBox"
                style="width: 10%"
                name="nome_produtos"
                value="{{ produto.nome_produtos }}"
                placeholder="Nome"
              />
              <input
                class="divWrapper defaultBox"
                style="width: 40.4%"
                name="descricao_produtos"
                value="{{ produto.descricao_produtos }}"
                placeholder="Descrição"
              />
              <input
                class="divWrapper defaultBox"
                style="width: 10%"
                name="categoria_produtos"
                value="{{ produto.categoria_produtos }}"
                placeholder="Descrição"
              />
              <input
                class="divWrapper defaultBox"
                style="width: 4%"
                step="0.01"
                name="preco_produtos"
                value="{{ produto.preco_produtos }}"
                placeholder="Preço"
              />
              <input
                class="divWrapper defaultBox"
                style="width: 2%"
                name="quantidade_produtos"
                value="{{ produto.quantidade_produtos }}"
                placeholder="Qtd"
              />
              <button
                type="button"
                class="trashBtn iconSize buttonBox"
                style="width: 48px; top: 18px"
              >
                <img src="../static/images/deletarLinha.svg" />
                <!-- Ícone para deletar -->
              </button>
            </form>
          </div>
          {% endfor %}
        </div>
        <!-- Fim Definição de Linha -->
          <!-- Pagination Controls -->
      
      </div>

      <div class="pagination-controls">
 <!-- Previous Button -->
 {% if current_page > 1 %}
 <a href="{{ url_for('adm', page=current_page - 1) }}" class="pagination-button"><</a>
 {% endif %}
 
 <!-- Page Numbers -->
 <span class="page-info">Página {{ current_page }} de {{ total_pages }}</span>

 <!-- Next Button -->
 {% if current_page < total_pages %}
 <a href="{{ url_for('adm', page=current_page + 1) }}" class="pagination-button">></a>
 {% endif %}
      </div>
      
      <!-- Login -->
      <div class="blocking-box">
      </div>
      <div
      class="floating-box"
      id="modal"
      style="position: fixed; top: 30%; right: 42%"
    >
      <h2>Login</h2>
      <div class="floating-box">
        <label for="username">Usuario:</label>
        <input type="text" placeholder="Usuario" id="username" />
      </div>
      <div class="floating-box">
        <label for="password">Senha:</label>
        <input type="password" placeholder="Senha" id="password" />
      </div>
      <div class="floating-box">
        <button id="doneButton">Done</button>
      </div>

    </div>

      
    </div>

    <script src="../static/js/adm.js"></script>
  </body>
</html>
