<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/tela-compra.css" />
  <link rel="stylesheet" href="../static/css/bottombar.css" />
  <link rel="stylesheet" href="../static/css/topbarstyle.css" />
  <title>Tela de Compra</title>
</head>

<body>
  <div id="wrap">

    <header class="conjunto-topbar">
      <div class="organizacao">

        <a href="/">
          <div class="frame-logo">
            <img class="LOGO-A-ESTUDANTE" src="../static/images/Logo.png" />
          </div>
        </a>
        <a href="/">
          <div class="nome-estabelecimento">
            <div class="nome-principal">A Estudante</div>
            <div class="subtitulo">Office Shop</div>
          </div>
        </a>

        <form id="search-form" action="{{ url_for('search') }}" method="GET" class="conjunto-barra-de-pesquisa">
          <input type="text" name="search_term" class="barra-de-pesquisa" placeholder="Pesquise aqui" />
          <button type="submit" class="lupa">
            <img src="../static/images/Lupa.svg" alt="Search" />
          </button>
        </form>

        <div class="botoes">
          <a id="icone-carrrinho" class="icone-carrrinho" href="/ver_carrinho">
            <img class="icone-carrrinho" src="../static/images/Carrinho.svg" />
          </a>
        </div>
      </div>

    </header>

    <div class="ajuste-table">
      <table>
        <thead>
          <th></th>
          <th>
            <p class="produto-texto">Produto</p>
          </th>
          <th>
            <p class="produto-texto">Preço Unitário</p>
          </th>
          <th>
            <p class="produto-texto">Quantidade</p>
          </th>
          <th>
            <p class="produto-texto">Preço</p>
          </th>
          <th></th>
        </thead>

        <tbody>
        {% set totais = [] %}
        {% for produto in produtos %}
        <tr>
          <td>
            <img class="image" src="{{ produto.imagem_produtos }}" alt="Imagem do produto" />
          </td>
          <td>
            <p class="produto-nome">{{ produto.nome_produtos }}</p>
          </td>
          <td>
            <p class="produto-preco">{{ produto.preco_produtos | round(2) }}</p>
          </td>
          {% set index = produto.id_produtos | string() %}
          <td>
            <button class="botao-hidden">
              <img class="icone" src="../static/images/retirar.svg" />
            </button>
            <p class="quantidade-itens">{{ carrinho[index] }}</p>
            <button class="botao-hidden">
              <img class="icone" src="../static/images/adicionar.svg" />
            </button>
          </td>
          {% set total = carrinho[index] * produto.preco_produtos | float %}
          <td>
            <p class="produto-preco">{{ total | round(2) }} R$</p>
          </td>
          <td>
            <form action="{{ url_for('remover_do_carrinho', produto_id=produto.id_produtos) }}" method="post">
              <button type="submit" class="botao-hidden">
                <img class="icone_maior" src="../static/images/deletar.svg" />
              </button>
            </form>
          </td>
        </tr>
        {% set _ = totais.append(total) %}
        {% else %}
        <tr>
          <td colspan="4">O carrinho está vazio.</td>
        </tr>
        {% endfor %}
      {% set total_geral = totais | sum %}
      </tbody>

        {% if produtos %}

        <tfoot>
          <tr>
            <td colspan="3"><strong>Total Geral:</strong></td>
            <td colspan="2"><strong>{{ total_geral | round(2) }} R$</strong></td>
          </tr>
        </tfoot>
        {% endif %}
      </table>
    </div>

    <div class="conjunto-botoes">
      <a href="/" class="botao-continuar-compra">CONTINUAR COMPRANDO</a>
      <form action="{{ url_for('gerar_mensagem') }}" method="get">
        <button type="submit" class="botao-finalizar-compra">FINALIZAR PEDIDO</button>
      </form>
    </div>

  </div>

  <footer class="bottombar">
    <b>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">
        <div class="parafora">Telefone</div>
      </a>
    </b>
    <b>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">
        <div class="parafora">whatsapp</div>
      </a>
    </b>
  </footer>

</body>

</html>

<!--
#####▄▄▄##▄██▄###
#####▐▀█▀▌####▀█▄###
#####▐█▄█▌######▀█▄##
######▀▄▀###▄▄▄▄▄▀▀##
####▄▄▄██▀▀▀▀#######
###█▀▄▄▄█#▀▀##
###▌#▄▄▄▐▌▀▀▀## THIS IS JOÃO CARLOS
▄#▐###▄▄#█#▀▀ ##
▀█▌###▄#▀█▀#▀ ## HE WAS FOUND BY THE
#######▄▄▐▌▄▄### CODORNAS
#######▀███▀█#▄##
######▐▌▀▄▀▄▀▐▄##
######▐▀######▐▌##
-->
