<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/display-produtostyle.css" />
  <link rel="stylesheet" href="../static/css/bottombar.css" />
  <link rel="stylesheet" href="../static/css/topbarstyle.css" />
  <title>Página de Produtos</title>
  <!-- Título da página -->
</head>

<body>
  <div id="wrap">
    <header class="conjunto-topbar">
      <div class="organizacao">

        <a href="/">
          <div class="frame-logo">
            <img class="LOGO-A-ESTUDANTE" src="../static/images/Logo.png" />
          </div>
        </a>
        <a href="/">
          <div class="nome-estabelecimento">
            <div class="nome-principal">A Estudante</div>
            <div class="subtitulo">Office Shop</div>
          </div>
        </a>

        <form id="search-form" action="{{ url_for('search') }}" method="GET" class="conjunto-barra-de-pesquisa">
          <input type="text" name="search_term" class="barra-de-pesquisa" placeholder="Pesquise aqui" />
          <button type="submit" class="lupa">
            <img src="../static/images/Lupa.svg" alt="Search" />
          </button>
        </form>

        <div class="botoes">
          <a id="icone-carrrinho" class="icone-carrrinho" href="/ver_carrinho">
            <img class="icone-carrrinho" src="../static/images/Carrinho.svg" />
          </a>
        </div>
      </div>

    </header>


    <main class="display-de-item">
      <div class="item-coisas">
        <div class="conjunto-imagens">
          <img class="imagem-produto" src="{{produto.imagem_produtos}}" alt="Imagem do produto" />
        </div>

        <div class="produto-detalhes">
          <div class="item-inicio">
            <div class="nome-prod">{{ produto.nome_produtos}}</div>
            <div id="valor-prod" class="valor-prod">{{ produto.preco_produtos }}</div>
            <hr class="linha" />
          </div>
          <form action="{{ url_for('adicionar_carrinho', produto_id=produto.id_produtos) }}" method="post">
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" value="1" min="1">
            <button type="submit" class="botao-adicionar-carrinho">Adicionar ao carrinho</button>
          </form>
        </div>
      </div>

      <div class="conjunto-informacoes-produto">
        <div class="fundo">
          <div class="rectangle">
            <div class="informacoes-prod">INFORMAÇÕES DO PRODUTO</div>
          </div>
          <hr class="linha2" />
        </div>
      </div>

      <div class="desc-prod">
        <p class="texto-desc-prod">
          {{ produto.descricao_produtos }}
        </p>
      </div>

    </main>
  </div>

  <footer class="bottombar">
    <b>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">
        <div class="parafora">Telefone</div>
      </a>
    </b>
    <b>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">
        <div class="parafora">whatsapp</div>
      </a>
    </b>
  </footer>

  <script> var preco = document.getElementById("valor-prod").innerHTML; </script>
  <script src="../static/js/topbarjs.js"></script>
  <script src="../static/js/formataPreco.js"></script>
  <script src="../static/js/display-produto.js"> </script>
</body>

</html>

<!--
    ,
 {\("<
 (< ")
__`YY_||_________||___
---""-||---------||---
______||__ >')_/}||___
------||--- ( }*) |---
(PS)        _>_>()
CODORNAS WHILE EVERYTHING WAS WELL
-->
