<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/display-produtostyle.css" />
  <link rel="stylesheet" href="../static/css/bottombar.css" />
  <link rel="stylesheet" href="../static/css/topbarstyle.css" />
  <title>Página de Produtos</title>
  <!-- Título da página -->
</head>

<body>
  <header class="conjunto-topbar">
    <div class="organizacao">

      <div class="frame-logo">
        <img class="LOGO-A-ESTUDANTE" src="../static/images/Logo.png" />
      </div>
      <div class="nome-estabelecimento">
        <div class="nome-principal">A Estudante</div>
        <div class="subtitulo">Office Shop</div>
      </div>
      <div class="conjunto-barra-de-pesquisa">
        <input class="barra-de-pesquisa" placeholder="Pesquise aqui">
        <img class="lupa" src="../static/images/Lupa.svg" />
      </div>

      <div class="botoes">
        <div class="icone-conta hover-target">
          <img class="icone-conta" src="../static/images/Conta.svg" />
          <div class="overlay">
            <div class="tela-de-login">
              <div class="texto-conta">Entrar</div>
              <p class="paraoutros">
                <span>Não tem uma conta?</span>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Clique
                  aqui!</a>
              </p>
              <div class="conjunto-campos-conta">
                <label class="texto-conta" for="Email">Email</label>
                <input class="campo-conta" type="text" id="Email" name="Email" placeholder="Coloque aqui">

                <label class="texto-conta" for="Senha">Senha</label>
                <input class="campo-conta" type="text" id="Senha" name="Senha" placeholder="Coloque aqui">
              </div>
              <div class="paraoutros">
                <span>Esqueceu a Senha?</span>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Clique
                  aqui!</a>
              </div>
              <button class="enviar">
                <div class="texto-conta">ENVIAR</div>
              </button>
            </div>
          </div>
        </div>

        <div class="icone-carrrinho hover-target">
          <img class="icone-carrrinho" src="../static/images/Carrinho.svg" />

          <div class="overlay">
            <div class="carrinho-overlay">
              <div class="entrada-carrinho">
                <div class="entrada-carrinho-texto">Carrinho</div>
                <button class="botao-sem-fundo">
                  <img class="icones" src="../static/images/x.svg" />
                </button>
                <hr class="linha" />
              </div>

              <div class="conjunto-produto">
                <div class="produto">
                  <img class="imagem-item" src="../static/images/Conjunto lapis.jpeg" />
                  <div class="informacoes-do-item">
                    <div class="descricao-do-item">
                      <div class="valor-pre-compra">R$ 999,99</div>
                      <div class="nome-do-item">Nome do Item</div>
                    </div>
                    <div class="quantidade-item">
                      <button class="botao-sem-fundo">
                        <img class="icones-carrinho" src="../static/images/retirar.svg" />
                      </button>
                      <div class="numero-item">1</div>
                      <button class="botao-sem-fundo">
                        <img class="icones-carrinho" src="../static/images/adicionar.svg" />
                      </button>
                      <button class="botao-sem-fundo">
                        <img class="icones-carrinho" src="../static/images/deletar.svg" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="termino-carrinho">
                <div class="valor-subtotal">
                  <div class="texto-carrinho-branco">Valor:</div>
                  <div class="valor-produtos-branco">Xxxr$</div>
                </div>
                <div class="valor-subtotal">
                  <div class="texto-carrinho-branco">Frete:</div>
                  <div class="valor-produtos-branco">Xxxr$</div>
                </div>
                <div class="valor-total">
                  <div class="texto-carrinho-preto">Total:</div>
                  <div class="valor-produtos-preto">Xxxr$</div>
                </div>
                <button class="botao-sem-fundo">
                  <div class="botao-continuar-compra">Continuar Comprando</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="barra-navegacao">
      <div class="barra-navegacao-item hover-target">Papelaria
        <div class="overlay">
          <div class="barra-de-produtos">
            <div class="barra-de-produtos-item">Lapis Colorido</div>
            <div class="barra-de-produtos-item">Caneta Azul</div>
            <div class="barra-de-produtos-item">Caneta Vermelha</div>
            <div class="barra-de-produtos-item">Porta Caneta</div>
          </div>
        </div>
      </div>
      <div class="barra-navegacao-item hover-target">Materiais De Escritorio
        <div class="overlay">
          <div class="barra-de-produtos">
            <div class="barra-de-produtos-item">Caneta Vermelha</div>
            <div class="barra-de-produtos-item">Porta Caneta</div>
            <div class="barra-de-produtos-item">Agenda</div>
            <div class="barra-de-produtos-item">Isopor</div>
            <div class="barra-de-produtos-item">Giz</div>
          </div>
        </div>
      </div>
      <div class="barra-navegacao-item hover-target">Coleções
        <div class="overlay">
          <div class="barra-de-produtos">
            <div class="barra-de-produtos-item">Caderno</div>
            <div class="barra-de-produtos-item">Lapis</div>
            <div class="barra-de-produtos-item">Calculadora</div>
            <div class="barra-de-produtos-item">Lapis Colorido</div>
          </div>
        </div>
      </div>

    </div>

  </header>

  <main class="display-de-item">
    <div class="item-coisas">
      <div class="conjunto-imagens">
        <img class="imagem-produto" src="{{produto.imagem_produtos}}" alt="Imagem do produto" />
      </div>

      <div class="produto-detalhes">
        <div class="item-inicio">
          <div class="nome-prod">{{ produto.nome_produtos}}</div>
          <div id="valor-prod" class="valor-prod">{{ produto.preco_produtos }}</div>
          <hr class="linha" />
        </div>
        <form action="{{ url_for('adicionar_carrinho', produto_id=produto.id_produtos) }}" method="post">
          <label for="quantidade">Quantidade:</label>
          <input type="number" id="quantidade" name="quantidade" value="1" min="1">
          <button type="submit" class="botao-adicionar-carrinho">Adicionar ao carrinho</button>
        </form>
      </div>
    </div>

    <div class="conjunto-informacoes-produto">
      <div class="fundo">
        <div class="rectangle">
          <div class="informacoes-prod">INFORMAÇÕES DO PRODUTO</div>
        </div>
        <hr class="linha2" />
      </div>
    </div>

    <div class="desc-prod">
      <p class="texto-desc-prod">
        {{ produto.descricao_produtos }}
      </p>
    </div>

  </main>

  <div class="ajuste_bottombar"></div>

  <footer class="bottombar">
    <b>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">
        <div class="parafora">Telefone</div>
      </a>
    </b>
    <b>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">
        <div class="parafora">whatsapp</div>
      </a>
    </b>
  </footer>

  <script> var preco = document.getElementById("valor-prod").innerHTML; </script>
  <script src="../static/js/topbarjs.js"></script>
  <script src="../static/js/formataPreco.js"></script>
  <script src="../static/js/display-produto.js"> </script>
</body>

</html>
