<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../static/css/paginainicial.css" />
</head>

<body>
  <div class="pagina-inicial">

    <div class="propraganda">
      <img class="ima-propaganda" src="../static/images/PROPAGANDA.webp" />

      <div class="pontos">
        <div class="ponto"></div>
        <div class="ponto-2"></div>
        <div class="ponto-3"></div>
      </div>
    </div>

    <div class="proposta">
      <div class="proposta-conjunto">
        <img class="img-proposta" src="../static/images/Entrega.svg" />
        <div class="proposta-texto">
          <div class="proposta-titulo">Entrega</div>
          <div class="proposta-descricao">Receba no conforto de sua casa</div>
        </div>
      </div>
      <div class="proposta-conjunto">
        <img class="img-proposta" src="../static/images/lista.svg" />
        <div class="proposta-texto">
          <div class="proposta-titulo">Lista Escolares</div>
          <div class="proposta-descricao">Lista de mateiais escolares</div>
        </div>
      </div>
      <div class="proposta-conjunto">
        <img class="img-proposta" src="../static/images/pagamento.svg" />
        <div class="proposta-texto">
          <div class="proposta-titulo">Parcelamento</div>
          <div class="proposta-descricao">Em até x vezes</div>
        </div>
      </div>
    </div>

    <div class="promocoes">

      <div class="promocoes-titulo">Novidades:</div>

      <div class="conjunto-produtos">
        <div class="produto">

          <img class="promo-img-produto" src="../static/images/Conjunto lapis.jpeg" />

          <div class="prod-desc">
            <div class="valor-produto">R$ 999,99</div>
            <div class="nome-produto">nome do produto</div>
          </div>

        </div>
        <div class="produto">

          <img class="promo-img-produto" src="../static/images/Conjunto lapis.jpeg" />

          <div class="prod-desc">
            <div class="valor-produto">R$ 999,99</div>
            <div class="nome-produto">nome do produto</div>
          </div>

        </div>
        <div class="produto">

          <img class="promo-img-produto" src="../static/images/Conjunto lapis.jpeg" />

          <div class="prod-desc">
            <div class="valor-produto">R$ 999,99</div>
            <div class="nome-produto">nome do produto</div>
          </div>

        </div>
        <div class="produto">

          <img class="promo-img-produto" src="../static/images/Conjunto lapis.jpeg" />

          <div class="prod-desc">
            <div class="valor-produto">R$ 999,99</div>
            <div class="nome-produto">nome do produto</div>
          </div>

        </div>
      </div>

      <div class="pontos">
        <div class="ponto"></div>
        <div class="ponto-2"></div>
        <div class="ponto-3"></div>
      </div>

    </div>

    <div class="promocoes">

      <div class="promocoes-titulo">Promoções:</div>

      <div class="conjunto-produtos">
        <div class="produto">

          <img class="promo-img-produto" src="../static/images/Conjunto lapis.jpeg" />

          <div class="prod-desc">
            <div class="valor-produto">R$ 999,99</div>
            <div class="nome-produto">nome do produto</div>
          </div>

        </div>
        <div class="produto">

          <img class="promo-img-produto" src="../static/images/Conjunto lapis.jpeg" />

          <div class="prod-desc">
            <div class="valor-produto">R$ 999,99</div>
            <div class="nome-produto">nome do produto</div>
          </div>

        </div>
        <div class="produto">

          <img class="promo-img-produto" src="../static/images/Conjunto lapis.jpeg" />

          <div class="prod-desc">
            <div class="valor-produto">R$ 999,99</div>
            <div class="nome-produto">nome do produto</div>
          </div>

        </div>
        <div class="produto">

          <img class="promo-img-produto" src="../static/images/Conjunto lapis.jpeg" />

          <div class="prod-desc">
            <div class="valor-produto">R$ 999,99</div>
            <div class="nome-produto">nome do produto</div>
          </div>

        </div>
      </div>

      <div class="pontos">
        <div class="ponto"></div>
        <div class="ponto-2"></div>
        <div class="ponto-3"></div>
      </div>

    </div>

  </div>
</body>

</html>