<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>
  <link rel="stylesheet" href="../static/css/recuperacaosenha.css">
</head>

<body>
  <div class="esqueci-a-senha">
    <!-- Formulário de Enviar Email -->
    <div class="recuperacao-senha-enviar">
      <div class="Introducao">Recuperação de Senha</div>

      <div class="conjunto-campo">
        <label class="coloque-campo" for="Email">Email</label>
        <input class="campo" type="email" id="Email" name="Email" placeholder="Coloque seu email">
      </div>

      <button class="botao-enviar" id="enviarBtn">
        <div class="botao-enviar-texto">Enviar</div>
      </button>
    </div>

    <!-- Mensagem de Pedido Enviado e Botão Voltar -->
    <div class="recuperacao-senha-voltar" style="display: none;">
      <div class="recup-titulo">Pedido Enviado</div>

      <div class="conjunto-voltar">
        <button class="botao-voltar" id="voltarBtn">
          <div class="botao-voltar-texto">Voltar</div>
        </button>
      </div>
    </div>
  </div>

  <script>
    const enviarBtn = document.getElementById('enviarBtn');
    const voltarBtn = document.getElementById('voltarBtn');
    const enviarSection = document.querySelector('.recuperacao-senha-enviar');
    const voltarSection = document.querySelector('.recuperacao-senha-voltar');

    // Função para mostrar a seção de "Pedido Enviado" e esconder o formulário
    enviarBtn.addEventListener('click', () => {
      enviarSection.style.display = 'none';
      voltarSection.style.display = 'flex';
    });

    // Função para voltar para o formulário de recuperação de senha
    voltarBtn.addEventListener('click', () => {
      enviarSection.style.display = 'flex';
      voltarSection.style.display = 'none';
    });
  </script>
</body>

</html>