<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="../static/css/telacadastro.css" />
</head>

<body>
  <div class="overlay-cadastro">
    <div class="introducao-login">
      <div class="texto-introducao">Cadastro</div>
      <p class="redidirecionar-conta">
        <span class="texto-pergunta">Já tem uma conta? </span>
        <span class="redirecionador">Clique aqui!</span>
      </p>
    </div>
    <div class="conjunto-campos">

      <div class="Tipo-Campo">
        <label class="campo-label" for="Email">Email</label>
        <input class="campo" type="text" id="Email" name="Email" placeholder="Coloque aqui">
      </div>

      <div class="Tipo-Campo">
        <label class="campo-label" for="Endereco">Endereço</label>
        <input class="campo" type="text" id="Endereco" name="Endereco" placeholder="Coloque aqui">
      </div>

      <div class="Tipo-Campo">
        <label class="campo-label" for="Senha">Senha</label>
        <input class="campo" type="text" id="Senha" name="Senha" placeholder="Coloque aqui">
      </div>

      <div class="Tipo-Campo">
        <label class="campo-label" for="ConfirmacaoSenha">Confirmação de Senha</label>
        <input class="campo" type="text" id="ConfirmacaoSenha" name="ConfirmacaoSenha" placeholder="Coloque aqui">
      </div>

    </div>
    <p class="redidirecionar-conta">
      <span class="texto-pergunta">Esqueceu a Senha?</span> <span class="redirecionador">Clique aqui!</span>
    </p>
    <button class="enviar">
      <div>ENVIAR</div>
    </button>
  </div>
</body>

</html>